<div class="card">
    <!--
    <div class="header">
        <h4 class="title">Search</h4>
    </div>
    -->
    <div class="content search">
        <div class="row">
            <form>
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label for="inputState">Device Type</label>
                        <select id="inputState" class="form-control">
                            <option selected>All devices</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputState">Brand</label>
                        <select id="inputState" class="form-control">
                            <option selected>All brands</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputState">Model</label>
                        <select id="inputState" class="form-control">
                            <option selected>All models</option>
                            <option>...</option>
                        </select>
                    </div>

                  <div class="form-group col-md-2" style="text-align: center; margin:0px 16px">
                    <label for="inputState">Date</label>
                    <div class="row">
                        <div class="col-md-6 subDiv">
                          <input type="text" class="form-control" placeholder="From" value="04.01.23">
                        </div>
                        <div class="col-md-6 subDiv">
                          <input type="text" class="form-control" placeholder="To" value="04.03.23">
                        </div>
                        
                        <!--
                        <input type="range" class="form-range" min="5" max="10" id="customRange2">
                        -->

                    </div>
                  </div>
                  <div class="form-group col-md-2" style="text-align: center; margin:0px 16px">
                    <label for="inputState">Price</label>
                    <div class="row">
                        <div class="col-md-6 subDiv">
                          <input type="text" class="form-control" placeholder="From" value="89.00 $">
                        </div>
                        <div class="col-md-6 subDiv">
                          <input type="text" class="form-control" placeholder="To" value="129.00 $">
                        </div>
                    </div>
                  </div>

                  <div class="form-group col-md-1">
                    <label for="inputPassword4"></label>
                    <div>
                      <button type="reset" class="btn btn-primary clearBtn">Clear</button>
                    </div>
                  </div>

                </div>
            </form>
        </div>
    </div>
</div>