.search{
    font-weight: bold;
    text-transform: none !important;
    color: #0a1622;
}
.search label{
    font-weight: bold;
    text-transform: none !important;
    color: #0a1622;
}
.search .form-control {
    background-color: #f8f7f2;
    border: 1px solid #E3E3E3;
    border-radius: 28px;
    color: #565656;
    padding: 0px 9px;
    height: 34px;
    box-shadow: none;
}
.search .subDiv{
    padding-top: 0px;
}

.search .clearBtn {
    background-color: #f8f7f2;
    border: 1px solid #E3E3E3;
    border-radius: 28px;
    color: #565656;
    padding: 0px 29px;
    height: 34px;
    box-shadow: none;

    font-weight: bold;
    text-transform: none !important;
    color: #0a1622;
    margin-top: 1px;
}