.review-bg{
    background: #f8f7f1;
    border-radius: 27px;
    padding: 2px 39px 20px 17px;
}

.review-bg h3{
    color: #464c50;
    font-weight: bold;
}

.progress{
    height: 10px;
    background: #f7ebad;
} 

.progress .progress-bar{
    background: #f0cf4d !important;
} 
.progress-title{text-align: center; padding: 0; margin: 0 auto;}
.mtp{margin-top: 14px;}

.yellow-color {color: #f4d458; font-size: 26px; margin: 0px 6px;}
.yellow-color2 {color: #f4d458; font-size: 18px; margin: 0px 4px; float: right;}
.star-btn {padding: 4px 30px; border: solid 1px #ccc; border-radius: 10px;}