
.aspect-left .box{
    xtext-align: center;
    padding: 12px 25px;
    xborder: 1px solid #e5e5e5;
    xborder-radius: 6px;
    margin: 0px;
}


.aspect-left .aspect-left-bg{
    background: #eef6f9;
    border-radius: 27px;
    padding: 20px 35px 30px
}
.aspect-left .aspect-left-bg h3{
    color: #464c50;
    font-weight: bold;
}