<div class="card">
    <div class="content">
        <div class="row aspect-left">
            <div class="col-md-12 box">
                <div class="aspect-left-bg">
                    <div>
                        <h3>Pro Version On</h3>
                        <p>You have access to all functions</p>
                    </div>
                    <div>
                        <h3>Edit Subscription <i class="fa fa-edit" style="float: right"></i></h3> 
                    </div>
                </div>
            </div>
            <div class="col-md-12 box">
                <app-reviews [reviewConfigData]="reviewParentData"></app-reviews>
            </div>
        </div>
    </div>
  </div>
 